@font-face {
    font-family: 'Pacifico';
    src: url('webfonts/Pacifico.ttf')  format('truetype');
}

@font-face {
    font-family: 'Itim';
    src: url('webfonts/Itim.ttf')  format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('webfonts/Lato.ttf')  format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('webfonts/Raleway-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('webfonts/Raleway-Bold.ttf')  format('truetype');
}

@font-face {
    font-family: 'Avenir-d';
    src: url('webfonts/Avenir.otf')  format('opentype');
}