p {
  font-family: 'Itim', cursive;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: 'Itim', cursive;
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
  ;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(255, 253, 233);
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Itim', cursive;
}

.code {
  width: 50%;
  color: rgb(212, 213, 195);
  background-color: rgb(25, 25, 25);
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

code {
  font-family: Consolas, "courier new", monospace;
  text-align: left;
}

/* Menú */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

li {
  float: left;
  border-radius: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
}

li a:hover {
  display: block;
  transition: 1s;
}

li a:hover:not(.active) {
  background-color: #111;
  border-radius: 10px;
}

.active {
  background-color: #B04500;
}

.active:hover {
  background-color: #732D00;
}

/* Fin del menú */