p {
  font-family: 'Itim', cursive;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: 'Itim', cursive;
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
  ;
}

body {
  background-color: rgb(255, 253, 233);
  padding-left: 10px;
}

.code {
  width: auto;
  color: rgb(212, 213, 195);
  background-color: rgb(25, 25, 25);
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

code {
  font-family: Consolas, "courier new", monospace;
  text-align: left;
}