@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

body {
    font-family: $myFonts;
    font-weight: 900;
}

h1 {
    text-align: center;
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
    font-family: 'Itim';
}

a {
    -webkit-appearance: none;
    text-decoration: none;
    color: black;

    box-shadow: inset 0 -2px 0 0 #9a2525;
    -webkit-box-shadow: inset 0 -2px 0 0 #9a2525;

    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: inset 0 -4px 0 0 #9a2525;
        -webkit-box-shadow: inset 0 -4px 0 0 #9a2525;
    }
}

/* Si l'amplada màxima no supera els 43em, estem a un dispositiu mòbil, fes més petit l'h1 */
@media screen and (max-width: 43em) {
    h1 {
        font-size: 3em;
    }
}