* {
    font-family: 'Rimouski';
}

body {
    background-color: antiquewhite;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.1em;
}